.tag {
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    background-color:rgb(198, 198, 198);
    color : rgb(75, 61, 60);
    padding: 5px 10px;
    margin: 5px 5px;
    border-radius: 12px; 
    font-size: 0.875rem;
    font-family : var(--font-family);
    font-style : normal;
    font-weight : normal;
    min-height : 40px;
  }

  .tag img {
    height : 20px;
    margin-right :10px;
  }
  