.research {
    display : flex;
}

.research-content{
    flex : 1;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
    margin-left : 5rem;
}

.research-content h1{
    font-family : var(--font-family);
    font-weight : 800;
    color : rgb(68, 50, 50);
    font-size : 62px;
    line-height : 75px;
    letter-spacing: -0.04em;
    position: relative;
    display: inline-block;
    margin-bottom : 60px;
}

.research-content h1::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 400%;
    height: 0.5px; 
    background-color: rgb(48, 48, 48);
    left: 50%; 
    transform: translateX(-50%);
  }

.research-content p {
    font-family : var(--font-family);
    font-style : normal;
    font-weight : normal;
    font-size : 20px;
    line-height : 27px;
    color : rgb(141, 141, 141);

    margin-top : 1.5rem;
}


.research-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
  }
  
._research {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;
    margin-right: 20px; 
    text-align: center; 
    height : auto;
    margin-bottom : 10px;
    width : 1000px;
    font-family : var(--font-family);
}
  
  ._research iframe {
    width: 560px; 
    height: 315px; 
    display: block; 
    margin: 30px auto 10px; 
  }
  

  .research-description {
    font-family: var(--font-family); 
    color : grey;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
}

.research-item-description {
    text-align: left;
    display: flex;
    overflow-y: auto; 
    width: 100%; 
    max-height: 300px; 
}

.research-description span {
    display: inline-block;
}


.research-item-label {
    margin-top : 30px;
    width: 50px; 
}

.research-button-style {
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    background-color: rgb(68, 50, 50);
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    text-align: right;
  }

.research-button { 
    width:100%;
    margin-top : 30px;
    text-align: right;
}
  
.research-button-style:hover {
    background-color: rgb(141, 141, 141);
}

@media screen and (max-width : 1050px){
    .research{
        flex-direction : column;
    }

    .research-content {
        margin-left : 0;
        margin-right : 0;
    }

    .research-content h1::after{
        width : 200%
    }
    
    ._research{
        width : 100%;
        margin-right : 0;
    }
    ._research iframe {
        width: 100%; 
        height : auto; 
      }
}

@media screen and (max-width : 650px){
    .research h1{
        font-size : 48px;
        line-height : 60px;
    }
    
}

@media screen and (max-width : 490px){
    .research h1{
        font-size : 36px;
        line-height : 48px;
    }

    .header p{
        font-size : 14px;
        line-height : 24px;
    }

    .header-content__input input,
    .header-content__input button {
        font-size : 12px;
        line-height :16px;
    }
}


  
