.employment {
    font-family : var(--font-family);
    
}

.employment h1 {
    font-weight : 800;
    color : rgb(68, 50, 50);
    font-size : 62px;
    line-height : 75px;
    letter-spacing: -0.04em;
    position: relative;
    display: inline-block;
    margin-bottom : 60px;
}
  
  .title {
    font-size: 15em;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-family : var(--font-family);
  }

  
  .vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
      0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
    background-color: rgb(211, 211, 211) !important; 
  }
  
  .employment-date {
    color: rgb(68, 50, 50);;
  }
  
  .employment-description {
    margin: 1.5em 0 2em 0;
  }
