.achievements {
    display : flex;
}

.achievements-content{
    flex : 1;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;

    margin-left : 5rem;
}

.achievements-content h1{
    font-family : var(--font-family);
    font-weight : 800;
    color : rgb(68, 50, 50);
    font-size : 62px;
    line-height : 75px;
    letter-spacing: -0.04em;
    position: relative;
    display: inline-block;
    margin-bottom : 60px;
}

.achievements-content h1::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 200%;
    height: 1px; 
    background-color: rgb(48, 48, 48);
    left: 50%; 
    transform: translateX(-50%);
  }

.achievements-content p {
    font-family : var(--font-family);
    font-style : normal;
    font-weight : normal;
    font-size : 20px;
    line-height : 27px;
    color : rgb(141, 141, 141);

    margin-top : 1.5rem;
}


.achievements-container {
    display: flex;
    overflow-x: auto; 
    width: 100%; 
    max-width: 1200px; 
    max-height : 600px;
  }
  
  .achievement {
    flex: none; 
    margin-right: 20px; 
    text-align: left; 
    height : auto;
    transition: transform 0.3s ease;
    margin-bottom : 10px;
    width : 300px;
  }

  .achievement:hover {
    transform: scale(1.05); 
    
  }
  
  .achievement img {
    width: 300px; 
    height: 300px; 
    display: block; 
    margin: 0 auto 10px; 
  }
  

  .achievement-description {
    font-family: var(--font-family); 
    color : grey;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
}

.achievement-description span {
    display: inline-block;
}


.achievement-item-label {
    width: 50px; 
}

.achievement-item-value {
  margin-left :10px;
}
  
