.achievements {
    display : flex;
}

.achievements-content{
    flex : 1;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;

    margin-left : 5rem;
}

.achievements-content h1{
    font-family : var(--font-family);
    font-weight : 800;
    color : rgb(68, 50, 50);
    font-size : 62px;
    line-height : 75px;
    letter-spacing: -0.04em;
    position: relative;
    display: inline-block;
    margin-bottom : 60px;
}

.achievements-content h1::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 200%;
    height: 1px; 
    background-color: rgb(48, 48, 48);
    left: 50%; 
    transform: translateX(-50%);
  }

.achievements-content p {
    font-family : var(--font-family);
    font-style : normal;
    font-weight : normal;
    font-size : 20px;
    line-height : 27px;
    color : rgb(141, 141, 141);

    margin-top : 1.5rem;
}


.achievements-container {
    display: flex;
    overflow-x: auto; 
    width: 100%; 
    max-width: 1200px; 
    max-height : 600px;
  }
  
  .achievement {
    flex: none; 
    margin-right: 20px; 
    text-align: left; 
    height : auto;
    transition: transform 0.3s ease;
    margin-bottom : 10px;
    width : 300px;
  }

  .achievement:hover {
    transform: scale(1.05); 
  }
  
  .achievement img {
    width: 300px; 
    height: 300px; 
    display: block; 
    margin: 0 auto 10px; 
  }
  

  .achievement-description {
    font-family: var(--font-family); 
    color : grey;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
}

.achievement-description span {
    display: inline-block;
}


.achievement-item-label {
    width: 50px; 
}

.achievement-item-value {
  margin-left :10px;
}

@media screen and (max-width : 1200px){
  .achievements-content {
    margin-left: 1rem;
    margin-right: 1rem;
    
  }

  .achievements-content h1 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 30px;
    
  }

  .achievements-content h1::after {
    width: 150%;
  }

  .achievements-container {
    max-width: 100%;
    padding: 0 0px;
    flex-direction : column;
  }

  .achievement {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    flex-wrap: wrap; 
    width: 100%; 
    box-shadow: 0 1px 1px -1px black;
  }

  .achievement a {
    display: flex;
    width: 100%; 
    flex-direction: row; 
    text-align: left; 
    align-items: center; 
  }

  .achievement img {
    flex: 0 0 100px; 
    width: 100px;
    height: auto; 
    margin-right: 20px; 
  }

  .achievement-description {
    flex: 1; 
    font-size: 10px;
    line-height: 21px;

  }
  .achievement-item-label {
    width: 30px; 
}
.achievement-item-value {
  margin-left :3px;
}

}
  
